#about {

  .title {
    font-size: 2em;
    margin: 32px 0 1em 0;
    font-weight: 100;
    line-height: 1.25em;
    text-align: center;
  }

  .content {
    text-align: justify;
    font-size: 16px;
    line-height: 30.4px;
    color: $content-color;
    margin: 0 0 32px 0;
  }
}