section(id='about', class='container')
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h3.title
        | Hyderabad dotnetConf 2016 Welcomes You!
    p.content
        | Microsoft User Group Hyderabad presents Hyderabad dotnetConf 2016.
        | Immerse yourself in the world of .NET.
        | Hyderabad dotnetConf 2016 featuring speakers from the Microsoft Most Valuable Professionals,
        | .NET Community and Microsoft. Mark your calendar on August 27th.
        br
        br
        | Learn to develop for web, mobile, desktop, games, services, libraries and more for a variety of
        | platforms and devices all with .NET! We'll have presentations on .NET Core and ASP.NET Core, C#, F#,
        | Roslyn, Visual Studio, Universal Windows Platform (UWP), Xamarin, and much more.
hr