section(id='agenda', class='container')
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h3.title
                | Agenda
            div.content
                ul
                    li
                        time.time-slot
                            | 08:30am - 09:45am
                        .session
                            | Registration
                    li
                        time.time-slot
                            | 09:50am - 10:00am
                        .session
                            | Introduction
                            br
                            |  - 
                            a(href='speakers.html#shravan', target='_self') Shravan Kumar
                    li
                        time.time-slot
                            | 10:00am - 11:00am
                        .session
                            | Session 1
                    li
                        time.time-slot
                            | 11:00am - 11:10am
                        .session
                            | Break
                    li
                        time.time-slot
                            | 11:10am - 12:10pm
                        .session
                            | Session2
                    li
                        time.time-slot
                            | 12:10pm - 01:10pm
                        .session
                            | Session3
                    li
                        time.time-slot
                            | 01:10pm - 02:00pm
                        .session
                            | LUNCH
                    li
                        time.time-slot
                            | 02:00pm - 03:00pm
                        .session
                            | Session4
                    li
                        time.time-slot
                            | 03:00pm - 04:00pm
                        .session
                            | Session5
                    li
                        time.time-slot
                            | 04:00pm - 04:10pm
                        .session
                            | Break
                    li
                        time.time-slot
                            | 04:10pm - 05:10pm
                        .session
                            | Session 6
                    li
                        time.time-slot
                            | 05:10pm - 05:20pm
                        .session
                            | Closing Note
                            br
                            |  - 
                            a(href='speakers.html#pranav', target='_self') Pranav Ainavolu